  <h3>Satellite Counts:</h3>
    <div>
      <div class="info-content">Total: <span>{{satellites.length}}</span></div>
      <div class="info-content">Space Debris: <span>{{countRockets("Space Debris")}}</span></div>
      <div class="info-content">Communication: <span>{{countRockets("Communication")}}</span></div>
      <div class="info-content">Probe: <span>{{countRockets("Probe")}}</span></div>
      <div class="info-content">Positioning: <span>{{countRockets("Positioning")}}</span></div>
      <div class="info-content">Space Station: <span>{{countRockets("Space Station")}}</span></div>
      <div class="info-content">Telescope: <span>{{countRockets("Telescope")}}</span></div>
    </div>

  
