<div class="head-title">
  <h1>Orbit Report Table</h1>
</div>

<div class="limiter">
  <div class="container-table100">
    <app-orbit-list [satellites]="displayList"></app-orbit-list>
  </div>
</div>

<div id="accordion">
  <div class="card info" >
    
      <button
        class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split"
        data-toggle="collapse"
        data-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        
      </button>

      <div
        id="collapseOne"
        class="collapse"
        aria-labelledby="headingOne"
        data-parent="#accordion"
      >
        <app-orbit-counts [satellites]="displayList"></app-orbit-counts>
        <input
          class=".shadow-5"
          #searchTerm
          type="text"
          (keyup.enter)="search(searchTerm.value, selectedValue)"
          placeholder="Search"
        />

        <select
          (change)="selectChangeHandler($event)"
          class="select"
          name="selector"
          id="selector"
        >
          <option value="none" selected disabled hidden>
            Select an Option
          </option>
          <option value="name">Name</option>
          <option value="type">Type</option>
          <option value="orbitType">Orbit Type</option>
        </select>
      </div>    
  </div>
</div>
